body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #011121;
    overflow: hidden;
    color: #fff;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
}

.nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #011121;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid #333; 
}

.nav-item {
    margin: 0 15px;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #ddd;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.floating-name {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    color: #d4a1cb;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    display: inline-block;
    border-right: .15em solid #d4a1cb;
    max-width: 65%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typing {
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    white-space: pre-wrap;
    overflow: visible;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #d4a1cb; }
}
